.mainfooter{
   
    border-top:1px solid gray;
    height: 400px;
}
.div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 40px 0 0 -10px;
   
}
.connect{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* border:1px solid green; */
    width:320px;
    margin:-10px 0 0 260px;
}
.connect>p{
    /* border: 1px solid red; */
    font-size: 24px;
    margin: 18px 0 0 0 ;
    width: 40px;
}
.connect>h5{
    width: 100px;
    margin:24px 0 0 -60px ;
}
.div>p{
    
    border-left: 1px solid gray;
 
    width:150px;
    font-size: 14px;
    color:gray;

}
.description{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin:auto;
}
.description>div{
    /* border:1px solid green; */
    margin: 30px 0 0 0;
    height: 200px;
}
.description>div>p{
    color:gray;
    font-size: 12px;
}
